main {
    padding: 3em 1em;

    h2 {
        position: relative;
        color: var(--grey);

        &::after {
            position: absolute;
            content: '';
            left: 0;
           right: 0;
            top: 0;
            bottom: -5px;
            border-bottom: 5px solid var(--base);
           

        }
    }
}

.middle--warpper {
    h2 {
        max-width: 222px;

        &::after {
            width: 195px;
        }
    }

    .img--section {
        margin-bottom: 1.5em;
    }

    p {
        color: var(--grey);
        max-width: 302px;
    }



    .main--social--media {

        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 302px;
        margin-top: 1.5em;

    }
}

.wrapper {
    margin: 4.5em 0;

    h2 {
        max-width: 180px;
          &::after {
              width: 145px;
          }
    }

    ul {
        display: grid;
        grid-template-columns: repeat(2, 150px);
        grid-auto-rows: 150px;
        gap: 1em;
        list-style: none;
        margin-top: 1.5em;
    }

    li {
        background-color: #181818;
        @include flex-2;
        @include box-special-2;



        p {
            text-transform: capitalize;
            color: var(--grey);

            &:hover {
                color: var(--base);
            }
        }

        a {
            margin-top: 1em;
            margin-bottom: 0;


        }


        &:hover {
            @include hover2;
        }
    }
}